.bg-white {background-color:$white;}

.title-separator {
  width: 197px;
  height: 2px;
  background-color: #b79c7d;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 21px;
}

.section-title {
  font-family: Rokkitt,serif;
  color: #333;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 8.5px;
}

.section-subtitle {
  font-family: "Noto Serif",serif;
  color:#8f8f8f;
  font-size: 16px;
  line-height: 29px;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #b79c7d;
}

::selection {
  color: #FFFFFF;
  background: #b79c7d;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* HERE STARTS THE MAGIC */
header {
  text-align: center;
  color: #000;
  background-image: url("..images/sldier.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  position: fixed;
  width:100%;
  z-index: 1;
  height: 88%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.content-wrapper{
  background-color: white;
  top: 87%;
  min-height: 12%;
  position:absolute;
  z-index: 2;
  width: 100%;
}
/* HERE ENDS THE MAGIC */
header .container {
  padding-top: 150px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}


section h2 {
  margin: 0;
  font-size: 3em;
}
hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

section.primary h2{
  color: #2c3e50;
}

section.success{
  background-color: #18bc9c;
  color: #fff;
}

.wrap{
  padding-top: 100px; 
}

.section-kontakt {
  background: rgba(221, 221, 221, 0.32);
  padding-top: 40px;
}

.section-services {
  padding-top: 40px;
}


.sluzby {

width: 474px;
text-align: left;
margin: 60px 90px;
@include media-breakpoint-up(sm) { margin: 0px 280px; }

  .section-title {
    font-size: 25px;
     @include media-breakpoint-up(sm) { font-size: 35px; }
  }

  .title-separator { 
    width: 140px; 
    @include media-breakpoint-up(sm) { width: 200px; }
  }

  li {
    list-style-type: none;
    font-family: Rokkitt,serif;
    color: #333;
    font-size: 15px;
    opacity:0;
    left:100%;
    position:relative;
    @include media-breakpoint-up(sm) { font-size: 26px; }
    
  }

  li:before {    
  font-family: 'FontAwesome';
  content: '\f138';
  margin:0 5px 0 -15px;
  }

}



.tos-caption-0 {display: none;}


.portfolio-section {
    padding-bottom:40px;
}


/* category filter */

.filter-section {
    padding-top:40px;
}


.filter-container {
    text-align:center;
    /*padding:20px*/
}

ul.filter > li > a {
    color:#b79c7d;
    font-size:20px;
    line-height:40px;
    text-transform: uppercase;
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#806A58;
    outline:none
}

ul.filter > li.active a {
    color:#111
}

ul.filter > li span {
    color:#ddd;
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin:0
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
}


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:1;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.8;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #b79c7d;
    opacity: 0.2;
}


.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
    background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0
}


/* skew image on hover */

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.04);
    -webkit-transform:scale(1.04);
    -o-transform:scale(1.04);
    -ms-transform:scale(1.04);
    transform:scale(1.04);

    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);


    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}


#portfolio .section-subtitle {
  display: block;
  margin-bottom: 7px;
}