.bg-white {background-color:$white;}

.title-separator {
  width: 197px;
  height: 2px;
  background-color: #b79c7d;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 21px;
}

.section-title {
  font-family: Rokkitt,serif;
  color: #333;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 8.5px;
}

.section-subtitle {
  font-family: "Noto Serif",serif;
  color:#8f8f8f;
  font-size: 16px;
  line-height: 29px;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #b79c7d;
}

::selection {
  color: #FFFFFF;
  background: #b79c7d;
}