.bg-white {background-color:$white;}

.title-separator {
  width: 197px;
  height: 2px;
  background-color: #b79c7d;
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 21px;
}

.section-title {
  font-family: Rokkitt,serif;
  color: #333;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 8.5px;
}

.section-subtitle {
  font-family: "Noto Serif",serif;
  color:#8f8f8f;
  font-size: 16px;
  line-height: 29px;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: #b79c7d;
}

::selection {
  color: #FFFFFF;
  background: #b79c7d;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* HERE STARTS THE MAGIC */
header {
  text-align: center;
  color: #000;
  background-image: url("..images/sldier.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  position: fixed;
  width:100%;
  z-index: 1;
  height: 88%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.content-wrapper{
  background-color: white;
  top: 87%;
  min-height: 12%;
  position:absolute;
  z-index: 2;
  width: 100%;
}
/* HERE ENDS THE MAGIC */
header .container {
  padding-top: 150px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}


section h2 {
  margin: 0;
  font-size: 3em;
}
hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

section.primary h2{
  color: #2c3e50;
}

section.success{
  background-color: #18bc9c;
  color: #fff;
}

.wrap{
  padding-top: 100px; 
}

.section-kontakt {
  background: rgba(221, 221, 221, 0.32);
  padding-top: 40px;
}

.section-services {
  padding-top: 40px;
}


.sluzby {

width: 474px;
text-align: left;
margin: 60px 90px;
@include media-breakpoint-up(sm) { margin: 0px 280px; }

  .section-title {
    font-size: 25px;
     @include media-breakpoint-up(sm) { font-size: 35px; }
  }

  .title-separator { 
    width: 140px; 
    @include media-breakpoint-up(sm) { width: 200px; }
  }

  li {
    list-style-type: none;
    font-family: Rokkitt,serif;
    color: #333;
    font-size: 15px;
    opacity:0;
    left:100%;
    position:relative;
    @include media-breakpoint-up(sm) { font-size: 26px; }
    
  }

  li:before {    
  font-family: 'FontAwesome';
  content: '\f138';
  margin:0 5px 0 -15px;
  }

}





