.main-footer {
  background: url("../images/footer.jpg");
  color: #fff;
  padding: 25px;
}

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px;}
